{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}

<section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <ol id="hero-carousel-indicators" class="carousel-indicators"><li data-bs-target="#heroCarousel" data-bs-slide-to="0" class=""></li><li data-bs-target="#heroCarousel" data-bs-slide-to="1" class=""></li><li data-bs-target="#heroCarousel" data-bs-slide-to="2" class="active" aria-current="true"></li></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item" style="background-image: url('img/slide-1.jpg')">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">The Best Business Information </h2>
                <p class="animate__animated animate__fadeInUp">We're In The Business Of Helping You Start Your Business</p>
                <a href="#about" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>
              </div>
            </div>
          </div>

          <div class="carousel-item active carousel-item-start" style="background-image: url(assets/img/hero-carousel/sample1.jpg)">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">At vero eos et accusamus</h2>
                <p class="animate__animated animate__fadeInUp">Helping Business Security &amp; Peace of Mind for Your Family</p>
                <a href="#about" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>
              </div>
            </div>
          </div>

            {% for i in slider %}

          <div class="carousel-item carousel-item-next carousel-item-start" style="background-image: url('/media/{{ i.IMG }}')">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">{{ i.heading }}</h2>
                <p class="animate__animated animate__fadeInUp">{{ i.title }}</p>
                <a href="#about" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>
              </div>
            </div>
          </div>
            {% endfor %}

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <div id="about" class="about-area area-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline text-center">
              <h2>About Us</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- single-well start-->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="well-left">
              <div class="single-well">
                <a href="#">
                  <img src="/media/img/blog-3.jpg" alt="">
                </a>
              </div>
            </div>
          </div>
          <!-- single-well end-->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="well-middle">
              <div class="single-well">
                <a href="#">
                  <h4 class="sec-head">Our Professional Team gives you Best Service and Excellent Support.</h4>
                </a>
                <p>
Welcome to <b>Diamond Pest Control Services</b>  a Pest Control based company. We provide the best Pest Management Services from protection to prevention and from removal to elimination. Our expert Pest Inspection team are on <b>call 7 days a week</b> to keep your home and business safe and protected.
                </p>
                <ul>
                  <li>
                    <i class="bi bi-check"></i> Interior design Package
                  </li>
                  <li>
                    <i class="bi bi-check"></i> Building House
                  </li>
                  <li>
                    <i class="bi bi-check"></i> Reparing of Residentail Roof
                  </li>
                  <li>
                    <i class="bi bi-check"></i> Renovaion of Commercial Office
                  </li>
                  <li>
                    <i class="bi bi-check"></i> Make Quality Products
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- End col-->
        </div>
      </div>
    </div><!-- End About Section -->



    <section id="clients" class="clients">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline text-center mt-5">
              <h2>Our Clients</h2>
            </div>
          </div>
<div class="scroll container">
            <img src="/media/client1.gif" class="mx-2" style="max-height:150px;max-width: 150px">

            <img src="/media/client2.jpeg" class="mx-2" style="max-height:150px;max-width: 150px">

            <img src="/media/client3.jpeg" class="mx-2" style="max-height:150px;max-width: 150px">

            <img src="/media/client4.png" class="mx-2" style="max-height:150px;max-width: 150px">


            <img src="/media/client6.png" class="mx-2" style="max-height:150px;max-width: 150px">
            <img src="/media/client1.gif" class="mx-2" style="max-height:150px;max-width: 150px">

            <img src="/media/client2.jpeg" class="mx-2" style="max-height:150px;max-width: 150px">

            <img src="/media/client3.jpeg" class="mx-2" style="max-height:150px;max-width: 150px">

            <img src="/media/client4.png" class="mx-2" style="max-height:150px;max-width: 150px">


            <img src="/media/client6.png" class="mx-2" style="max-height:150px;max-width: 150px">
     </div>
    </section><!-- End Clients Section -->
<br>



<div class="container">

    </div>
    <!-- ======= Services Section ======= -->
    <div id="services" class="services-area area-padding" style="background-color:#f9f9f9;">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline services-head text-center">
              <h2>Our Services</h2>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <!-- Start Left services -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
                    <i class="bi"><img src="/media/assets/img/service/termite (1).png" style="max-height:40px;max-width: 40px"></i>
                  </a>
                  <h4><b>TERMITE CONTROL</b></h4>
                  <p>
                    A well-organized termite colony can have more than a million hungry workers consuming over 100 pounds of wood per year. The average cost of termite treatment and damage repairs is more than $8,000.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
                    <i class="bi"><img src="/media/assets/img/service/COCKROACH (1).png" style="max-height:40px;max-width: 40px"></i>
                  </a>
                  <h4><b>COCKROACH CONTROL</b></h4>
                  <p>
                   Cockroaches will never stop trying to get into your home for food, water and shelter. And since they’re nocturnal creatures adept at hiding, an infestation can get out of hand before you ever realize they’re in your home.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <!-- end col-md-4 -->
            <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
                    <i class="bi"><img src="/media/img/service/rodent.png" style="max-height:40px;max-width: 40px"></i>
                  </a>
                  <h4><b>MICE CONTROL</b></h4>
                  <p>
                   MICE cause a lot of damage. As the teeth of rodents continue to grow over their lifetime, they need to gnaw on hard substances such as lead and plastic pipes, insulation material and electric wiring.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <!-- end col-md-4 -->
            <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
                    <i class="bi bi-"><img src="/media/assets/img/service/woodborers.png" style="max-height:40px;max-width: 40px"></i>
                  </a>
                  <h4><b>CRAWLING INSECTS CONTROL</b> </h4>
                  <p>
                   This nocturnal and discreet pest which can cause an infestation to go unnoticed for a long period of time until substantial damages have been done .can be found in damp areas such as kitchens, bathrooms, basements and attics
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <!-- End Left services -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <!-- end col-md-4 -->
            <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
                    <i class="bi bi-b"><img src="/media/assets/img/service/bugs.png" style="max-height:40px;max-width: 40px"></i>
                  </a>
                  <h4><b>Bed Bugs Treatment</b></h4>
                  <p>
                    Bed bugs are a significant problem in India and around the world. They are easily spread and difficult to treat resulting in a rapid growth in the number of bed bug outbreaks.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <!-- End Left services -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <!-- end col-md-4 -->
            <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
                    <i class="bi bi-b"><img src="/media/assets/img/service/termite.png" style="max-height:40px;max-width: 40px">
                    </i>
                  </a>
                  <h4><b>Construction Termite Soil Treatment</b></h4>
                  <p>
                    The first step in pre construction treatment against White ants is to treat the walts and base of the footing trench with our chemical. Concrete is then poured in the trench to from the footing of the exterior wall.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Services Section -->



    <!-- ======= Rviews Section ======= -->
    <div class="reviews-area">
      <div class="row g-0">
        <div class="col-lg-6">
          <img src="/media/img/blog-2.jpg" alt="" class="img-fluid">
        </div>
        <div class="col-lg-6 work-right-text d-flex align-items-center">
          <div class="px-5 py-5 py-lg-0">
            <h2>working with us</h2>
            <h5>Termite Control, Home Inspection, Disinfecting Offices, Schools, etc.</h5>
            <a href="#contact" class="ready-btn scrollto">Contact us</a>
          </div>
        </div>
      </div>
    </div><!-- End Rviews Section -->




    <!-- ======= Contact Section ======= -->
    <div id="contact" class="contact-area">
      <div class="contact-inner area-padding">
        <div class="contact-overly"></div>
        <div class="container ">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="section-headline text-center">
                <h2>Contact us</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- Start contact icon column -->
            <div class="col-md-4">
              <div class="contact-icon text-center">
                <div class="single-icon">
                  <i class="bi "><img src="/media/assets/img/service/smartphone-call.png" style="max-height:40px;max-width: 40px">

                  </i>
                  <p>
                     Call: +91 9953457978<br>
                     Call: 011-29943812
                     <br>
                    <span>Monday-Friday (9am-5pm)</span>
                  </p>
                </div>
              </div>
            </div>
            <!-- Start contact icon column -->
            <div class="col-md-4">
              <div class="contact-icon text-center">
                <div class="single-icon">
                  <i class="bi "><img src="/media/assets/img/service/mail-512.png" style="max-height:40px;max-width: 40px">

                  </i>                  <p>
                    Email: info@example.com<br>
                    <span>Web: www.diamond-pest-control.com</span>
                  </p>
                </div>
              </div>
            </div>
            <!-- Start contact icon column -->
            <div class="col-md-4">
              <div class="contact-icon text-center">
                <div class="single-icon">
                  <i class="bi "><img src="/media/assets/img/service/worldwide-location-512.png" style="max-height:40px;max-width: 40px">

                  </i>                  <p>
                    Location: A108 Kandivali West<br>
                    <span>Mumbai, Maharashtra</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">

            <!-- Start Google Map -->
            <div class="col-md-6">
              <!-- Start Map -->
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22864.11283411948!2d-73.96468908098944!3d40.630720240038435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sbg!4v1540447494452" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
              <!-- End Map -->
            </div>
            <!-- End Google Map -->

            <!-- Start  contact -->
            <div class="col-md-6">
              <div class="form contact-form">
                <form method="post">{% csrf_token %}
                    {{ form|crispy }}

                  <div class="text-left"><input type="submit" value="Send Message" class="btn btn-warning"></div>
                </form>
              </div>
            </div>
            <!-- End Left contact -->
          </div>
        </div>
      </div>
    </div><!-- End Contact Section -->

  </main><!-- End #main -->



{% endblock %}
